#!/bin/sh

# We don't currently use this .envrc, but if we need to in the future, this
# leaves room to do that.

# Pull in user's local envrc if it exists
if [ -f .local.envrc ]; then
  source .local.envrc
fi
